POSTGRES_NAME=bkdnojv2
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345678
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379

DJANGO_SECRET_KEY=<should_be_a_random_string>
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOST=localhost

BKDNOJ_JUDGE_ADDRESS=localhost
BKDNOJ_JUDGE_PORT=9999

DJANGO_SETTINGS_MODULE=bkdnoj.settings